/* General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@300&display=swap');

img {
    max-width: 100%;
    width: auto;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
    color: #d2dae2;
    transition: color 250ms ease;
}

a:hover {
    text-decoration: none;
    color: #ffc048;
}

h1,h2 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    background:white;
    border-radius:5px;
    border:1px solid black;
}

input[type='checkbox']:checked {
    background: #0F2027;
}

/* Home */
.home {
    background-image: url('../src/assets/app-bg.jpg');
    background-size: cover;
    height: calc(100vh - 63px);
    width: 100%;
    position: relative;
}

.home::after {
    background-color: rgba(0,0,0,0.25);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '';
}

.home h1 {
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
}

.home__wrapper {
    margin: auto;
    z-index: 2;
}

/* Header */
.nav {
    background: #0F2027; 
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
}

/* Customizer */

.add {
    max-width: 100%;
    height: auto;
}

.position-absolute {
    left: 0;
    top: -15px;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: 1s all cubic-bezier(.68,-0.55,.27,1.55);
}

.add {
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
    transition: 1s all cubic-bezier(.68,-0.55,.27,1.55);
}

.checkbox__wrapper {
    background: #D3CCE3;
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);
    background: linear-gradient(to right, #E9E4F0, #D3CCE3);
    padding: 2rem;
}

.checkbox__wrapper .form-group {
    padding: 1rem 2rem;
    font-size: 1.4rem;
} 

.checkbox__wrapper .form-group label {
    padding-left: 1rem;
} 

.price h2 {
    color: #D3CCE3;
}